Webservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://" name="webservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://" schemaLocation="Webservice_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getLoan">
    <part name="parameters" element="tns:getLoan"/>
  </message>
  <message name="getLoanResponse">
    <part name="parameters" element="tns:getLoanResponse"/>
  </message>
  <message name="openAccount">
    <part name="parameters" element="tns:openAccount"/>
  </message>
  <message name="openAccountResponse">
    <part name="parameters" element="tns:openAccountResponse"/>
  </message>
  <message name="transferLoan">
    <part name="parameters" element="tns:transferLoan"/>
  </message>
  <message name="transferLoanResponse">
    <part name="parameters" element="tns:transferLoanResponse"/>
  </message>
  <message name="delayPayment">
    <part name="parameters" element="tns:delayPayment"/>
  </message>
  <message name="delayPaymentResponse">
    <part name="parameters" element="tns:delayPaymentResponse"/>
  </message>
  <message name="printCustomerInfo">
    <part name="parameters" element="tns:printCustomerInfo"/>
  </message>
  <message name="printCustomerInfoResponse">
    <part name="parameters" element="tns:printCustomerInfoResponse"/>
  </message>
  <portType name="BankWebServer">
    <operation name="getLoan">
      <input wsam:Action="http://BankWebServer/getLoanRequest" message="tns:getLoan"/>
      <output wsam:Action="http://BankWebServer/getLoanResponse" message="tns:getLoanResponse"/>
    </operation>
    <operation name="openAccount">
      <input wsam:Action="http://BankWebServer/openAccountRequest" message="tns:openAccount"/>
      <output wsam:Action="http://BankWebServer/openAccountResponse" message="tns:openAccountResponse"/>
    </operation>
    <operation name="transferLoan">
      <input wsam:Action="http://BankWebServer/transferLoanRequest" message="tns:transferLoan"/>
      <output wsam:Action="http://BankWebServer/transferLoanResponse" message="tns:transferLoanResponse"/>
    </operation>
    <operation name="delayPayment">
      <input wsam:Action="http://BankWebServer/delayPaymentRequest" message="tns:delayPayment"/>
      <output wsam:Action="http://BankWebServer/delayPaymentResponse" message="tns:delayPaymentResponse"/>
    </operation>
    <operation name="printCustomerInfo">
      <input wsam:Action="http://BankWebServer/printCustomerInfoRequest" message="tns:printCustomerInfo"/>
      <output wsam:Action="http://BankWebServer/printCustomerInfoResponse" message="tns:printCustomerInfoResponse"/>
    </operation>
  </portType>
  <binding name="webserviceportBinding" type="tns:BankWebServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getLoan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="openAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferLoan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delayPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="printCustomerInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="webservice">
    <port name="webserviceport" binding="tns:webserviceportBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

